Images/
Mgmt/
Stores/
Templates/
Tmp/
WdsClientUnattend/

Boot/*

#x86
!Boot/x86/
Boot/x86/*
!Boot/x86/*.0
!Boot/x86/*.com
!Boot/x86/*.c32
!Boot/x86/default.bcd
!Boot/x86/default.bcd*
!Boot/x86/*.n12
!Boot/x86/Linux
!Boot/x86/pxelinux.cfg

#x64
!Boot/x64/
Boot/x64/*
!Boot/x64/*.0
!Boot/x64/*.com
!Boot/x64/*.c32
!Boot/x64/default.bcd
!Boot/x64/default.bcd*
!Boot/x64/*.n12
!Boot/x64/Linux
!Boot/x64/pxelinux.cfg